<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
xmlns:gap = "http://heartlanddc.com/ns/1.0"
id = "com.heartlanddc.hdc.event.app"
version = "1.0.0">

<name>HDC Event App</name>

<description>
Official app of the Heartland Developers Conference.
</description>

<author href="http://joeolsen.github.com"
email="joe@joeolsen.com">
Joe Olsen
</author>

<gap:platforms>
<gap:platform name="android" minVersion="2.1" />
<gap:platform name="webos" />
<gap:platform name="symbian.wrt" />
<gap:platform name="blackberry" project="widgets"/>
</gap:platforms>

<icon src="icon.png" gap:role="default" />

<feature name="http://api.phonegap.com/1.0/geolocation"/>
<feature name="http://api.phonegap.com/1.0/network"/>

<!-- sample preference specification -->
<!-- <preference name="autorotate" value="false" readonly="true"/> -->
</widget>

